#root {
  text-align: center;
}
ul {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.contact-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-head {
  font-weight: 600;
}
table,
th,
td {
  text-align: justify;
  border: 1px solid black;
  border-collapse: collapse;
  border-style: dotted;
}
thead {
  text-align: center;
}
td,
th {
  padding-left: 8px;
  padding-right: 8px;
}
.delete-button {
  background-color: rgb(102, 102, 105);
  border-radius: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.form-container {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.form-button {
  width: 200px;
}
.error-label {
  color: red;
}
